[Unit]
Description=Bind mount for Nix store
DefaultDependencies=no
After=systemd-tmpfiles-setup.service
Before=nix-daemon.service

[Mount]
What=/var/lib/nix
Where=/nix
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
